body {
    margin: 0;
    background-color: #1b244a;
}

.container {
    display: flex;
    
    justify-content: space-around;
}
#scoreBoardHome,#scoreBoardGuest{
    width: 155;
    height: 120;
    color: rgb(215, 63, 63);
    display: flex;
    justify-content: center;
    font-size: 100;
    align-items: center;
    background: black;
}
.boxes{
    width: 100%;
    margin-top: 10px;
    display:flex;    
    justify-content: space-between;
}
.box{
    width: 50px;
    height: 50px;
    color: rgb(173, 173, 173);
    background-color: transparent;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 4px;
}
.rset-btn{
    background-color: blue;
    border: 2px solid rgb(168, 167, 167);
    font-weight: 300;
    width: 100%;
    padding: 5px 0;
    color: rgb(168, 167, 167);
    font-size: 22;
    border-radius: 4px;
    margin-top: 10px;

}